.portfolio {
  text-align: center;
}

.project-img {
  margin: 1em;
}

.project-window {
  margin: 1em;
}

.toolbar-window {
  margin: 1em;
}

.button-non-selected {
  cursor: pointer;
  border: 0.1em solid;
  display: inline-block;
  min-height: 3.5em;
  outline: none;
  vertical-align: baseline;
  background: #E0E1E2 none;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0.8em 0 0;
  padding: 0.8em 1.5em 0.8em;
  font-weight: bold;
}

.button-selected {
  cursor: pointer;
  display: inline-block;
  min-height: 3.5em;
  outline: none;
  vertical-align: baseline;
  background: rgb(50, 50, 50);
  color: #E0E1E2;
  margin: 0 0.8em 0 0;
  padding: 0.8em 1.5em 0.8em;
  font-weight: bold;
}